header {
  height: 80px;
  padding: 10px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .left-side {
    font-size: 18px;
    h1 {
      font-weight: 900;
    }
  }
  .search-bar {
    width: 50vw;
    height: 40px;
    margin: 20px;
    color: #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    display: flex;
    gap: 10px;
    align-items: center;
    input {
      color: #a9a9a9;
      width: 100%;
      border-width: 0;
      outline: none;
      line-height: 40px;
      &:hover {
        border-width: 0;
      }
    }
    svg {
      cursor: pointer;
    }
    svg[data-icon="xmark"] {
      margin-right: 5px;
    }
  }
  .right-side {
    font-size: 18px;
    align-items: center;
    p {
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      &:hover {
        color: gray;
      }
    }
  }
}
